@font-face {
	font-family: "Typewriter E";
	src: url(../static/fonts/TT2020StyleE-Regular.woff2) format("woff2");
}

/* Thanks, https://www.joshwcomeau.com/shadow-palette/ ! */
:root {
	--shadow-color: 32deg 24% 69%;
	--shadow-elevation-low: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.11),
		0px 0.6px 0.8px -0.6px hsl(var(--shadow-color) / 0.19),
		0px 1.3px 1.7px -1.2px hsl(var(--shadow-color) / 0.27);
	--shadow-elevation-medium: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.12),
		0px 1.4px 1.8px -0.4px hsl(var(--shadow-color) / 0.18),
		0px 2.9px 3.8px -0.8px hsl(var(--shadow-color) / 0.25),
		0px 6.4px 8.4px -1.2px hsl(var(--shadow-color) / 0.31);
	--shadow-elevation-high: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.13),
		0px 2.5px 3.3px -0.2px hsl(var(--shadow-color) / 0.16),
		0px 4.6px 6.1px -0.4px hsl(var(--shadow-color) / 0.2),
		0px 7.2px 9.5px -0.6px hsl(var(--shadow-color) / 0.24),
		-0.1px 11.2px 14.8px -0.8px hsl(var(--shadow-color) / 0.28),
		-0.1px 17.3px 22.8px -1px hsl(var(--shadow-color) / 0.32),
		-0.1px 26.1px 34.5px -1.2px hsl(var(--shadow-color) / 0.36);
}

body {
	font-family: "Courier New", Courier, monospace;
}

#letter-canvas {
	width: 60%;
	max-width: 500px;
	box-shadow: var(--shadow-elevation-high);
}

#controls {
	position: fixed;
	bottom: 50px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #000;
}
